---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.astro';
---

<Layout title="Resilienza">
	<main class="container px-10 md:px-40">
		<h1 class="text-4xl font-bold text-center">¡Descubre el Estilo que Está por Llegar!</h1>
		<p class="text-center mt-4">
			Bienvenido a nuestra página de "Resilienza". En breve, te traeremos la última moda directamente a tu puerta. Prepárate para una experiencia de compra única con nuestra colección de tiendas de gran calidad!
		</p>

		<Countdown />

	</main>
</Layout>
